@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

.swiper {
    overflow-x: clip !important;
}

.swiper-button-disabled {
    opacity: 50%;
}

.fancy-border {
    border-radius: 70% 30% 70% 30% / 59% 56% 44% 41%;
}